body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

html {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.navbar {
    padding: 3px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.top-nav-collapse {
    padding: 10px 0;
    background: -webkit-linear-gradient(rgba(50,50,50,.9), rgba(50,50,50,.9));
    background: -o-linear-gradient(rgba(50,50,50,.9), rgba(50,50,50,.9));
    background: -moz-linear-gradient(rgba(50,50,50,.9), rgba(50,50,50,.9));
    background: linear-gradient(rgba(50,50,50,.9), rgba(50,50,50,.9));
    text-shadow: none;
}



#dpssmall {
    width: 55px;
    display: inline;
    margin-top: -18px;
    opacity: .95;
    -webkit-transform: translate3d(0, 0, 0) ;
    -moz-transform: translate3d(0, 0, 0) ;
    -o-transform: translate3d(0, 0, 0) ;
    -ms-transform: translate3d(0, 0, 0) ;
    transform: translate3d(0, 0, 0) ;
}

.hide-brand {
    opacity: 0;
}

.intro-section {
    height: 100vh;
    padding-top: 85px;
    text-align: center;
    background: #ffffff;
    background-image: url("../img/wood.jpg");
    background-position: top;
    background-size: cover;
}

#dps {
    width: 75vh;
    max-width: 90vw;
    opacity: 1;
}

.work-section {
    min-height: 100vh;
    padding-top: 160px;
    font-family: 'Muli', sans-serif;
    background: #ffffff;
}

#macbook {
    width: 90%;
    position: absolute;
    z-index: 0;
}

#aptitune, #semitone, #sofaspud, #getitdone, #tictactoe, #mozaiq {
    width: 90%;
    position: absolute;
    z-index: 1;
}

#preview-container {
    padding-top: 10px;
    text-align: center;
}

.preview {
    max-width: 37%;
    max-height: 25vh;
    border: 3px solid #000000;
    margin-bottom: 5px;
}



.about-container {
    height: 120vh;
    padding-top: 132px;
    max-width: 100vw;
    overflow-x: hidden;
}

.aboutunslant {
    margin-left: 50px;
    padding-top: 146px;
    padding-bottom: 162px;
    max-width: 100vw;
    min-height: 50vh;
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
}

.about-section {
    width: 120vw;
    margin-left: -50px;
    min-height: 50vh;
    background-color: #4e6e38;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
}

.about-section h4 {
    font-size: 1.3em;
    font-weight: normal;
    font-family: 'Muli', sans-serif;
}

.headshot-container {
    background-color: white;
    width: 100%;
    max-width: 35vw;
}

.headshot {
    width: 100%;
    max-width: 35vw;
    opacity: 1;
    border: 3px solid #000000;
}





footer {
    height: 80px;
    margin-top: -105px;
    padding-bottom: 155px;
}

footer p {
    margin: 0;
    font-size: 5em;
}

footer a {
    color: rgba(50,50,50,.9);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

footer a:hover, footer a:active {
    color: #4e6e38;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}


@media (max-width: 992px) {
    #aptitune, #semitone, #sofaspud, #getitdone, #tictactoe, #mozaiq, #macbook {
        visibility: hidden;
    }
    .aboutunslant {
        padding-top: 46px;
        padding-bottom: 62px;
    }
    .work-section {
        padding-top: 70px;
    }

    .about-container {
        padding-top: 60px;
    }
    footer {
        height: 90px;
    }
    footer p {
        margin: 0;
        font-size: 5em;
    }
}
